.hero {
  /* stack grain with a gradient */
  background-image: var(--gradient-17), var(--noise-3);
  /* force colors and noise to collide */
  filter: var(--noise-filter-3);
  /* fit noise image to element */
  background-size: cover;
}

.hero h1 {
  max-width: unset;
  color: var(--color-light);
  -webkit-text-stroke: 3px var(--color-dark);
  -webkit-text-fill-color: var(--color-light);
}

.hero h2 {
  max-width: unset;
  font-size: var(--size-step-3);
  color: var(--color-dark);
}

.hero-button-container.hero-button-container {
  background-color: var(--color-purple);

  /* fit noise image to element */
  background-size: cover;
  margin-top: 0;
}
