.separator {
  display: block;
  height: 3.5em;
  width: 100%;
  /* fill: var(--spot-color, var(--color-purple)); */
  transform: translateY(-1px);
}

.separator.separator, .separator-flip.separator-flip {
  margin-top: 0;
}

.separator-flip {
  transform: rotate(180deg) translateY(-1px);
}
