---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="flow region hero">
      <h1 class="text-center">{{ title }}</h1>

      <h2 class="text-center">
        It&apos;s all about the kids
      </h2>
    </div>
  </div>
</header>


{% include 'svg/divider-waves-flip.svg' %}

<div class="region text-center hero-button-container">
  <button class="cta-button">Apply Now!</button>
</div>

{% include 'svg/divider-waves.svg' %}

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
